@tailwind base;
@tailwind components;
@tailwind utilities;

.x-axis .domain {
  display: none;
}
.y-axis .domain {
  display: none;
}
.y-axis-grid .domain {
  display: none;
}

.x-axis line {
  stroke: #313D4E;
  stroke-dasharray: 5 10
}
.y-axis-grid line {
  stroke: #313D4E;
  stroke-dasharray: 5 10
}
.y-axis-grid text {
  display: none;
}
